**The goal here is to get rank count of words in a corpus for a given class compared to the second class.** <br>

##### TODO :

- *special characters cleaner*<br>
- *Add a stopwords remover*<br>
- *Lemmatizer and Stemmer*<br>

In [24]:
import pandas as pd 
import numpy as np
import glob
import seaborn as sns

import math
import statistics #stdev

from itertools import groupby
import join
from sklearn.utils import shuffle

In [25]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings('ignore')

# Read data

In [26]:
df = pd.read_csv('C:/ahamid/git_wwsssuuup/IMDB Dataset.csv')
df = df.drop_duplicates()
df.rename(columns={'sentiment' : 'label'}, inplace = True) # rename column
df = df.replace({'negative': 1, 'positive': 0})
df.sample(1)
# review

,review,label
48092,"With its few touches of surrealism, LWHTRB works as low-grade horror, but as a major follow-up statement to the original, it flounders miserably.<br /><br /> Things begin somewhat promising during the telefilm's opening credits... We see and hear several interesting shots and sounds: The Baby's black crib with the overhanging, inverted cross; the kitchen knife Rosemary carried into the Castevette's apartment and dropped in shock (the utensil is shown sticking out of the hardwood floor); and the emptiness of the Bramford itself, without tenants or furniture (voice-overs can be heard here from the previous film's dialog). Interesting too is the Easter Egg hunt the titular child participates in (the eggs and baskets are also black). Once the story gets rolling, it never really 'rolls'... And what happens to Rosemary when she boards that driverless bus, and is whisked away to God-knows-where? <br /><br />Patty Duke (a poor replacement for Mia Farrow), Ray Milland and Tina Louise (as the Southwestern Whore who raises the child, ""Adrian/Andrew"") head this almost-star cast, with Ruth Gordon reprising her ""Minnie"" role.<br /><br />Although not a total failure, this sequel-of-sorts should have been released in book form first, then maybe we all could have been a bit better informed... and not left totally in the dark. A fairly recent sequel novel ""Son of Rosemary"" (1999?) is the legitimate followup by Ira Levin himself.<br /><br />",1

# Func

In [27]:
# Définition du tokenizer
def tokenizer(review):
    liste_tokens = [] #liste de tokens à retourne
    tokens = re.split('[/ : _ . = & ? -]', review) # split de l'url et stockage dans liste intérmédiaire
    for i in tokens: # boucler sur les tokens pour supprimer les vides, ce cas là arrive quand on a dans l'url deux symboles sur lesquels on split
        if i != '':
            liste_tokens.append(i) # il faut mettre dans la nouvelle liste pour être sur que l'élément n'y est pas
    return liste_tokens


def get_top_n_words(corpus, n=None):
    """
    List the top n words in a vocabulary according to occurrence in a text corpus.
    
    get_top_n_words(["I love world", "I love the python world"]) -> 
    [('love', 2),
    ('python', 2),
    ('the', 1),
    ('world', 1)]
    """
    vec = CountVectorizer(tokenizer = tokenizer, lowercase = False).fit(corpus) # ngram_range = (2,2),
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis = 0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq = sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:n]


def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2>{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

<font color = Darkred>${\textbf{Get dataframe of top values for both phishing and legimate corpus}}$</font>

In [28]:
# split to two subsets of data
df_pos = df.loc[df.label == 0]
df_neg = df.loc[df.label == 1]

In [29]:
# get top n words from both dfs
pos_common_words = pd.DataFrame(get_top_n_words(list(df_pos['review'])),columns=['keyword', 'count'])
pos_common_words.reset_index(inplace = True)

neg_common_words = pd.DataFrame(get_top_n_words(list(df_neg['review'])),columns=['keyword', 'count'])
neg_common_words.reset_index(inplace = True)

In [30]:
# extract 50 first elements
top_50_pos_common_words = pos_common_words.head(50).copy()
top_50_neg_common_words = neg_common_words.head(50).copy()

In [31]:
# merge dataframe 
result_pos = pd.merge(top_50_pos_common_words, neg_common_words, how="left", on=["keyword"])
result_pos.drop(['index_x'], axis=1, inplace = True)

result_neg = pd.merge(top_50_neg_common_words, pos_common_words, how="left", on=["keyword"])
result_neg.drop(['index_x'], axis=1, inplace = True)

In [32]:
# Negative DF CREATION
top_pos_words = result_pos.rename(columns={"count_x": "positive_count", "count_y": "negative_count",
                                            "index_y": "rank_in_negative", 'keyword' : 'keyword_positive'})

top_pos_words = top_pos_words[['keyword_positive', 'positive_count', 'negative_count', 'rank_in_negative']]
top_pos_words['rank_in_negative'] = top_pos_words['rank_in_negative'] + 1
top_pos_words.index = np.arange(1, (len(top_pos_words)+1))


# positive DF CREATION
top_neg_words = result_neg.rename(columns={"count_x": "negative_count", "count_y": "positive_count",
                                            "index_y": "rank_in_positive", 'keyword' : 'keyword_negative'})

top_neg_words = top_neg_words[['keyword_negative', 'negative_count', 'positive_count', 'rank_in_positive']]
top_neg_words['rank_in_positive'] = top_neg_words['rank_in_positive'] + 1
top_neg_words.index = np.arange(1, (len(top_neg_words)+1))

In [33]:
display_side_by_side(top_pos_words.head(100), top_neg_words.head(100), titles=['positive','negative'])

,keyword_positive,positive_count,negative_count,rank_in_negative
1,the,291933,274658,1
2,and,166594,135701,3
3,a,155722,150087,2
4,of,149319,133674,4
5,to,128849,132904,5
6,is,108884,95292,6
7,in,91432,79754,7
8,that,63331,65393,9
9,I,62813,70303,8
10,it,60448,61939,11
11,this,52727,63958,10
12,><br,48804,51412,12
13,as,46574,36295,18
14,<br,44940,46954,14
15,with,43621,39415,17
16,was,42400,50686,13
17,for,41506,40037,16
18,film,35034,31427,22
19,The,33510,34501,19
20,but,32685,34189,20
21,movie,32351,42719,15
22,his,31755,22372,28
23,on,31663,31756,21
24,are,28569,28172,24
25,you,25753,26382,27
26,not,25338,27972,25
27,have,24097,29866,23
28,be,23861,27869,26
29,one,23067,22302,29
30,he,22925,19328,37
31,by,22817,19592,33
32,an,21419,19411,36
33,at,20532,22041,30
34,who,20093,17069,41
35,from,19730,18327,40
36,all,19133,19463,34
37,her,17799,13941,46
38,has,17722,14670,45
39,like,16292,20843,31
40,about,15858,17046,42
41,they,15163,20009,32
42,so,15160,18647,38
43,very,15144,10550,64
44,out,14839,16684,43
45,or,14243,18382,39
46,more,14001,12461,53
47,some,12946,15045,44
48,just,12929,19421,35
49,good,12895,12598,51
50,This,12574,11944,56
,keyword_negative,negative_count,positive_count,rank_in_positive
1,the,274658,291933,1
2,a,150087,155722,3
3,and,135701,166594,2
4,of,133674,149319,4
5,to,132904,128849,5
6,is,95292,108884,6
7,in,79754,91432,7
8,I,70303,62813,9
9,that,65393,63331,8
10,this,63958,52727,11
11,it,61939,60448,10
12,><br,51412,48804,12
13,was,50686,42400,16
14,<br,46954,44940,14
15,movie,42719,32351,21
16,for,40037,41506,17
17,with,39415,43621,15
18,as,36295,46574,13
19,The,34501,33510,19
20,but,34189,32685,20
21,on,31756,31663,23
22,film,31427,35034,18
23,have,29866,24097,27
24,are,28172,28569,24
25,not,27972,25338,26
26,be,27869,23861,28
27,you,26382,25753,25
28,his,22372,31755,22
29,one,22302,23067,29
30,at,22041,20532,33
31,like,20843,16292,39
32,they,20009,15163,41
33,by,19592,22817,31
34,all,19463,19133,36
35,just,19421,12929,48
36,an,19411,21419,32
37,he,19328,22925,30
38,so,18647,15160,42
39,or,18382,14243,45
40,from,18327,19730,35
41,who,17069,20093,34
42,about,17046,15858,40
43,out,16684,14839,44
44,some,15045,12946,47
45,has,14670,17722,38
46,her,13941,17799,37
47,would,13415,10237,64
48,no,13005,7603,88
49,even,12964,8066,85
50,up,12665,11471,55